@import "./variables";

.copyright {
  text-align: center;
  margin: 0px;
  margin-top: 1.5rem;
  color: $gray-600;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  p {
    padding: 0%;
    margin: 0.2rem;
    width: 30%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .copyright {
    p {
      width: 80%;
    }
  }
}
