@import "./variables";

.foot {
  position: fixed;
  bottom: 0rem;
  margin: auto;
  width: 100%;
  height: 10rem;
  background-color: $primary;
}
span {
  position: fixed;
  width: 100%;
  margin: auto;
  bottom: 1rem;
  text-align: center;
  color: $gray-200;
}
