@import "./variables";

.home {
  padding: 40px 20px;
  margin-bottom: 40px;
  margin-top: 3rem;

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .description {
      width: 50%;
      text-align: center;
      h1.title {
        color: $gray-800;
        font-weight: 700;
        font-size: 3rem;
        margin: 0%;
      }
      p {
        margin: 0px;
        margin-top: 1.5rem;
        color: $gray-600;
        font-weight: 700;
        font-size: 2rem;
        span {
          color: $primary;
        }
      }
    }

    .image {
      width: 450px;
    }
  }

  @media (max-width: 576px) {
    .container {
      justify-content: center;
      .description {
        width: 80%;
        h1.title {
          font-size: 2rem;
        }
        .image {
          width: 20%;
        }
      }
    }
  }
}
